* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
    min-width: 0;
}

body {
    min-height: 100dvh;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

html {
    scroll-behavior: smooth;
    font-family: system-ui, Roboto, 'Open Sans', sans-serif;
}

::view-transition-old(root),
::view-transition-new(root) {
    animation-duration: 0.3s;
}